@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
}

input {
    @apply border;
    @apply border-solid;
    @apply border-gray-300;
    /* @apply rounded-md; */
    @apply px-4;
    @apply py-2;
}

.prompt-button {
    @apply cursor-pointer underline;
}

i {
    @apply font-normal;
}

.border-hairline {
    @apply border border-black border-opacity-10;
}

.button {
    @apply bg-black hover:bg-gray-800 text-white rounded-r-md inline-block px-5 py-3;
}

.image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
}

.gradient-border {
    position: relative;
    z-index: 1;
  }
  
  .gradient-border::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px; /* Adjust as needed */
    width: 100%;
    height: 10px; /* Adjust as needed */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    z-index: -1;
  }
  
  .text-with-balls {
    display: flex;
    align-items: center;
    font-family: 'Pacifico', sans-serif;
    color: blue;
  }
  
  .ball {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    background-color: green; /* Adjust color as needed */
    border-radius: 50%;
    margin: 0 10px; /* Adjust spacing as needed */
  }

  span {

  }
  
.code-block {
    /*background-color: #2e2e2e; /* Dark background for code blocks */
    /*color: #f8f8f2; /* Light text color */
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: pre; /* Preserve whitespace */
    font-family: 'Fira Code', monospace; /* Use a monospace font */
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    max-width: 100%; /* Ensure code blocks do not exceed the container width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .text-block {
    margin-bottom: 1rem;
  }
  
  .flex {
    overflow-x: auto; /* Handle horizontal overflow */
  }
  
  